<%- include('../includes/head.ejs') %>
<body>
    <%- include('../includes/header.ejs') %>
    <main>
        <% if (errorMessage) { %>
            <div class="user-message"><%= errorMessage %></div>
        <% } %>
         <form class="login-form" action="/signup" method="POST">
            <div class="form-control">
                <label for="email">E-Mail</label>
                <input type="email" name="email" class="<%= validationErrors.find(e=>e.param === 'email') ? 'invalid' : '' %>" id="email">
            </div>
            <div class="form-control">
                <label for="password">Password</label>
                <input type="password" class="<%= validationErrors.find(e=>e.param === 'password') ? 'invalid' : '' %>" name="password" id="password">
            </div>
             <div class="form-control">
                 <label for="password">Confirm Password</label>
                 <input type="password" class="<%= validationErrors.find(e=>e.param === 'confirmPassword') ? 'invalid' : '' %>" name="confirmPassword" id="confirmPassword">
             </div>
             <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <button class="btn" type="submit">Sign Up</button>
        </form>
    </main>
</body>
</html>